[user]
	email = teddy.gauthier@outlook.com
	name = teddy
    signingKey = 9EE1CA666FFB5B77
[init]
	defaultBranch = master
[commit]
    gpgSign = true
[alias]
	hub = !gh
    file = !git show --pretty="" --name-status
[core]
    editor = vim
[format]
    signoff = true
