[user]
	email = teddy.gauthier@outlook.com
	name = teddy
    signingKey = 9EE1CA666FFB5B77
[init]
	defaultBranch = master
[commit]
    gpgSign = false
[alias]
	hub = !gh
[core]
    editor = vim
[format]
    signoff = true
