source ~/.account.muttrc
folder-hook 'account' 'source ~/.account.muttrc'

macro index,pager <f2> '<sync-mailbox><enter-command>source ~/.config/neomutt/accounts/account<enter><change-folder>!<enter>'

# Etc
set mail_check = 30
set move = no
set imap_keepalive = 900
set sort = "threads"
set editor = "vim"
set sidebar_visible = yes

# Bindings
bind index,pager k next-entry
bind index,pager l previous-entry
bind index,pager \Cu half-up
bind index,pager \Cd half-down
bind index,pager \Ck sidebar-next
bind index,pager \Cl sidebar-prev
bind index,pager \Co sidebar-open
bind index,pager <F4> sidebar-toggle-visible

# Colors
source .colors.muttrc
