[Unit]
Description=Deamon syncthing

[Service]
Type=simple
User=lordpax
Group=wheel
ExecStart=/usr/bin/syncthing serve

[Install]
WantedBy=multi-user.target
